<section>
    <form>
        <input type="text" #texto placeholder="Filtrar por cidade ou estado">
        <button class="primary" type="button" (click)="listarImoveisComFiltro(texto.value) ">Filtrar</button>
    </form>

    <section class="results">
        @for (imovel of imoveisDB; track $index) {
            <section class="listing" >
                <img class="listing-photo" src="{{imovel.url_foto}}" alt="Cassa01">
                <h2 class="listing-heading">{{imovel.nome}}</h2>
                <p class="listing-localizacao">{{imovel.cidade}}, {{imovel.estado}}</p>
                <a>Veja mais</a>
            </section>
        }
        
    </section>
</section>
